$primary-background: cornsilk;

* {
  margin: 0;
}

body {
  background-image: url('https://image.freepik.com/free-vector/tropical-background-with-jungle-plants-exotic-pattern-with-palm-leaves_81520-59.jpg');
  font-family: 'Catamaran', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

h1 {
  color: $primary-background;
  font-size: 50px;
}

.current-date {
  color: $primary-background;
  font-size: 28px;
  font-weight: 700;
}

main {
  background-color: $primary-background;
  height: 79vh;
  width: 94%;
  margin: auto;
  opacity: 0.85;
}

// NAV

nav {
  height: 50px;
  display: flex;
  justify-content: center;
}

.tab {
  background-color: #555;
  color: $primary-background;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 23.5%;
  height: 50px;
  opacity: 0.85;
  font-weight: 700;
  &:hover {
    background-color: $primary-background;
    opacity: 0.85;
    color: black;
  }
  &:focus {
    background-color: $primary-background;
    opacity: 0.85;
    color: black;
  }
}

// CONTENT SECTIONS

.article-main {
  border: #555 solid 3px;
  height: 60%;
  width: 30%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 30px 0px;
}

.content {
  height: 90vh;
}

.content-container {
  display: flex;
  justify-content: center;
  height: 75%;
}

.main-totals {
  font-size: 54px;
  text-align: center;
}

.main__p {
  font-size: 24px;
  color: black;
  font-weight: 700;
  text-align: center;
}

.customer__p {
  font-size: 26px;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 10px 0px;
}

.article-customer {
  border: #555 solid 3px;
  height: 60%;
  width: 40%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0% 0% 8% 0%;
}


.button-customer {
  width: 51%;
  height: 30px;
  font-size: 14px;
  border: #555 2px solid;
}

.article__input {
  height: 25px;
  width: 50%;
  border: #555 2px solid;
  margin-bottom: 7px;
}

.error-search-customer {
  color: red;
}

.current-customer {
  text-align: center;
  font-size: 28px;
  padding: 15px 0px;
}

.article-orders {
  border: #555 solid 3px;
  height: 65%;
  width: 40%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#table-all-orders {
  margin-bottom: 25px;
}

.orders__p {
  font-size: 24px;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 10px 0px;
}

td {
  text-align: center;
  padding: 0px 5px;
  font-size: 15px;
  font-weight: 500;
}

.customer-orders-total {
  font-size: 20px;
  text-align: center;
  margin-top: 8%;
  font-weight: 600;
}

.customer-orders-total-number {
  font-size: 40px;
  font-weight: 700;
}

.all-rooms-container {
  height: 50%;
}

.search-rooms-available-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input__all-rooms-available {
  height: 25px;
  width: 25%;  
  margin-bottom: 8px;
  border: #555 2px solid;
}


.button__all-rooms-available,
.button__filter-room-type,
.button-confirmation,
.button__main-menu,
.show-available-rooms {
  height: 30px;
  width: 26%;
  border: #555 2px solid;
  font-size: 14px;
}

.button__all-rooms-available,
.button__filter-room-type,
.button__main-menu,
.show-available-rooms {
  margin-bottom: 8px;
}

.article-all-rooms1 {
  border: #555 solid 3px;
  height: 100%;
  width: 30%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-all-rooms2 {
  border: #555 solid 3px;
  height: 100%;
  width: 60%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.p__rooms {
  font-size: 20px;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 10px 0px;
}

.most-least-popular-date {
  font-size: 24px;
}

.article-rooms1 {
  border: #555 solid 3px;
  height: 100%;
  width: 30%;
  display: flex; 
  justify-content: center;
  margin: 0px 10px;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  justify-content: flex-start;
}

.article-rooms2 {
  border: #555 solid 3px;
  height: 100%;
  width: 60%;
  overflow: scroll;
  display: flex; 
  justify-content: center;
  margin: 0px 10px;
}

.table-available-rooms {
  width: 100%;
}

.booking-inquiry-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.tr__available-rooms:hover,
.tr__room-service-item:hover,
.tr__all-rooms-by-date:hover {
  background-color: #009900;
}

.p__bookings-breakdown {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.table-bookings-breakdown {
  width: 80%;
}

.th__bookings-breakdown {
  font-size: 16px;
}

.p__confirmation-text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.rooms-content-container {
  display: flex;
  justify-content: center;
  height: 60%;
}

input[type='checkbox'] {
  height: 15px;
  width: 15px;
}

.p__room-service-confirmation {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

form {
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  border: #555 2px solid;
  padding: 20px;
}

input[type='radio'] {
  height: 17px;
  width: 15px;
}

.confirm-room-service-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#room-service-total-number {
  font-size: 24px;
  font-weight: 500;
}




