$primary-background: cornsilk;

* {
  margin: 0;
}

body {
  background-image: url('https://image.freepik.com/free-vector/tropical-background-with-jungle-plants-exotic-pattern-with-palm-leaves_81520-59.jpg');
  font-family: 'Catamaran', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

h1 {
  color: $primary-background;
  font-size: 50px;
}

.current-date {
  color: $primary-background;
  font-size: 28px;
  font-weight: 700;
}

main {
  background-color: $primary-background;
  height: 80vh;
  width: 94%;
  margin: auto;
  opacity: 0.75;}

// NAV

nav {
  height: 50px;
  display: flex;
  justify-content: center;
}

.tab {
  background-color: #555;
  color: $primary-background;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 23.5%;
  height: 50px;
  opacity: 0.8;
  font-weight: 700;
  &:hover {
    background-color: $primary-background;
    opacity: 0.7;
    color: black;
  }
  &:focus {
    background-color: $primary-background;
    opacity: 0.7;
    color: black;
  }
}

// CONTENT SECTIONS

.article-main {
  border: #555 solid 3px;
  height: 70%;
  width: 30%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.content {
  height: 90vh;
}

.content-container {
  display: flex;
  justify-content: center;
  height: 75%;
}

.main-totals {
  font-size: 50px;
  text-align: center;
}

.main__p {
  font-size: 24px;
  color: black;
  font-weight: 700;
  text-align: center;
}

.customer__p {
  font-size: 24px;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 10px 0px;
}

.article-customer {
  border: #555 solid 3px;
  height: 70%;
  width: 40%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-customer {
  width: 200px;
  height: 25px;
  font-size: 14px;
}

.article__input {
  height: 25px;
  width: 200px;
  border: #555 2px solid;
  margin-bottom: 5px;
}

.error-search-customer {
  color: red;
}

.current-customer {
  text-align: center;
  font-size: 28px;
  padding: 15px 0px;
}

.article-orders {
  border: #555 solid 3px;
  height: 70%;
  width: 40%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders__p {
  font-size: 24px;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 10px 0px;
}

td {
  text-align: center;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
}

.customer-orders-total {
  font-size: 20px;
  text-align: center;
  margin-top: 15%;
}

.customer-orders-total-number {
  font-size: 40px;
  font-weight: 700;
}

.article-rooms1 {
  border: #555 solid 3px;
  height: 80%;
  width: 25%;
  display: flex; 
  justify-content: center;
  margin: 0px 10px;
}

.article-rooms2 {
  border: #555 solid 3px;
  height: 80%;
  width: 60%;
  overflow: scroll;
  display: flex; 
  justify-content: center;
  margin: 0px 10px;
}

.table-available-rooms {
  width: 100%;
}

.tr__available-rooms:hover {
  background-color: #009900;
}

.show-available-rooms {
  height: 25px;
  width: 175px;
  font-size: 13px;
}





